// COLORS
// $primary-color: #17cdcd;
// $secondary-color: #17195f;

$primary-color: #27efef;
$secondary-color: #303395;

// $primary-color: #00eaff;
// $secondary-color: #3c8ce7;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
